* {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img {
    width: 100%;
}

.base-background {
    background-color: #1F2937;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 10px;
}

hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
}

.hero-left {
    width: 50%;
}

.hero-left-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    margin-left: 20%;
    width: 70%;
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.hero-right img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    object-fit: contain;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    border: 4px solid transparent;
    border-radius: 3px;
    color: #F9FAF8;
    width: 20%;
    height: 30px;
    font-size: 18px;
}

.white-background {
    background-color: white;
    color: #1F2937;
}

.random-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.random-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 70%;
}

.random-box img {
    border: 6px solid #3882F6;
    border-radius: 5px;
}

.quotes-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quotes-text-container {
    width: 60%;
    margin: 50px;
}

.quotes-text-container p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 4px;
    color: #F9FAF8;
    margin: 50px;
    width: 70%
}



.action-box button {
    flex: 0.10;
    border: 5px solid #F9FAF8;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
}
